<div class="card mat-card">

    <div class="card-titles">
        <h2>Proyectos</h2>

        <div class="btn-edit"> 
            <a href="" class="btn-right" routerLink="/newproyecto" *ngIf="isLogged">
              <i class="fa-sharp fa-solid fa-plus"></i>
           </a>
        </div>
    </div>
    
    <div class="proyectos" *ngFor="let proyectos of proyectos">
        <div>
            <a href="https://github.com/GastonMarenco/ProyectoIntegrador-ArgentinaPrograma-GastonMarenco"><h4>{{proyectos.nombre}}</h4></a>
            <p>{{proyectos.descripcion}}</p>
        </div>
    
        <div>
            <img src={{proyectos.img}}>
        </div>

        <div class="botonesS">
            <td>
              <a href="" class="btn-right" (click)="delete(proyectos.id)" *ngIf="isLogged"><i class="fa-solid fa-trash-can"></i></a>
              <a href="" class="btn-right" routerLink="/editproyecto/{{proyectos.id}}" *ngIf="isLogged"><i class="fa fa-pen"></i></a>
            </td>
          </div>
    </div>
    
</div>