<div class="card mat-card">
    <div class="card-titles">
        <h2>Acerca de</h2>
        <div class="btn-edit"> 
            <a href="" class="btn-right">
                <i class="fa fa-pen"></i>
            </a>
        </div>
    </div>
    <div>
        <p id="text-acercade">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam nisi nostrum hic a. Quod omnis, placeat pariatur autem nihil laudantium eum, corrupti eius esse cupiditate eligendi quisquam iusto consectetur aliquid?</p>
    </div>
</div>