<div class="wrapper">
    <header>
        <nav class="navbar">
            <div class="brand">
                <h2><span>G</span>astón<span> M</span>arenco</h2>
            </div>
            <ul class="menu">
                <li><a href="#"><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-facebook-128.png" alt=""></a></li>
                <li><a href="#"><img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/25_social-128.png" alt=""></a></li>
                <li><a href="#"><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-twitter-128.png" alt=""></a></li>
                <button><b>Login</b></button>
            </ul>
        </nav>
    </header>
</div>