<div class="card mat-card" id="hys">
  <h2>Hard Skills & Soft Skills</h2>
    
    <div class="text-center">
      <circle-progress
      [imageSrc]="'../assets/html.png'"
      [showImage]="true"
      [imageHeight]="90"
      [imageWidth]="90"
      [percent]="65"
      [radius]="70"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="10"
      [space]="-10"
      [outerStrokeColor]="'#1fcd13'"
      [outerStrokeGradientStopColor] ="'#09ec2f'"
      [innerStrokeColor]="'#e7e8ea'"
      [animation]="true"
      [animationDuration]="300"
      [clockwise]="false"
      [showUnits]="false"
      [showSubtitle]="false"
      [showInnerStroke]="true"
      ></circle-progress>
    </div>
  
    <div class="text-center">
      <circle-progress
      [imageSrc]="'../assets/CSS.png'"
      [showImage]="true"
      [imageHeight]="90"
      [imageWidth]="80"
      [percent]="55"
      [radius]="70"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="10"
      [space]="-10"
      [outerStrokeColor]="'#1fcd13'"
      [outerStrokeGradientStopColor] ="'#09ec2f'"
      [innerStrokeColor]="'#e7e8ea'"
      [animation]="true"
      [animationDuration]="300"
      [clockwise]="false"
      [showUnits]="false"
      [showSubtitle]="false"
      [showInnerStroke]="true"
      ></circle-progress>
    </div>
  
    <div class="text-center">
      <circle-progress
      [imageSrc]="'../assets/js.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="75"
      [percent]="55"
      [radius]="70"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="10"
      [space]="-10"
      [outerStrokeColor]="'#1fcd13'"
      [outerStrokeGradientStopColor] ="'#09ec2f'"
      [innerStrokeColor]="'#e7e8ea'"
      [animation]="true"
      [animationDuration]="300"
      [clockwise]="false"
      [showUnits]="false"
      [showSubtitle]="false"
      [showInnerStroke]="true"
      ></circle-progress>
    </div>
  
    <div class="text-center">
      <circle-progress
      [imageSrc]="'../assets/github.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [backgroundColor]="'black'"
      [backgroundPadding]="-1"
      [percent]="55"
      [radius]="70"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="10"
      [space]="-10"
      [outerStrokeColor]="'#1fcd13'"
      [outerStrokeGradientStopColor] ="'#09ec2f'"
      [innerStrokeColor]="'#e7e8ea'"
      [animation]="true"
      [animationDuration]="300"
      [clockwise]="false"
      [showUnits]="false"
      [showSubtitle]="false"
      [showInnerStroke]="true"
      ></circle-progress>
    </div>

    <div class="text-center">
      <circle-progress
      [imageSrc]="'../assets/eng.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [percent]="55"
      [radius]="70"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="10"
      [space]="-10"
      [outerStrokeColor]="'#1fcd13'"
      [outerStrokeGradientStopColor] ="'#09ec2f'"
      [innerStrokeColor]="'#e7e8ea'"
      [animation]="true"
      [animationDuration]="300"
      [clockwise]="false"
      [showUnits]="false"
      [showSubtitle]="false"
      [showInnerStroke]="true"
      ></circle-progress>
    </div>

    <div class="text-center">
      <circle-progress
      [imageSrc]="'../assets/grupal.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [percent]="55"
      [radius]="70"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="10"
      [space]="-10"
      [outerStrokeColor]="'#1fcd13'"
      [outerStrokeGradientStopColor] ="'#09ec2f'"
      [innerStrokeColor]="'#e7e8ea'"
      [animation]="true"
      [animationDuration]="300"
      [clockwise]="false"
      [showUnits]="false"
      [showSubtitle]="false"
      [showInnerStroke]="true"
      ></circle-progress>
    </div>
</div>