#info-details button {
    margin: 5px;
}

.card {
    border-radius: 32px 32px 0 0;
}

.mat-card#first-card {
    padding: 0;
} 

div#banner {
    display: flex;
}

div#banner img {
    width: 100%;
    border-radius: 32px 32px 0 0;
}

.perfil {
    border-radius: 50%;
    width: 152px;
    height: 152px;
    margin-top: -110px;
    margin-left: 15px;
    z-index: 1;
}

#info-details {
    background-color: #fff;
    margin: 15px;
    border-color: #191c32;
    list-style: none;
}

#info-details h1 {
    font-size: 1.8rem;
    display: inline;
    font-weight: 500;
    line-height: 1.25;
    word-wrap: break-word;
    word-break: break-word;
}

.activo {
    background-color: rgb(69, 140, 233);
    border-style: none;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    font-size: 110%;
    color: #fff;
    cursor: pointer; 
}

.activo2 {
    border-style: none;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    font-size: 105%;
    color: black;
    cursor: pointer; 
}

#info-data {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 232px;
    list-style: none;
    flex-shrink: 0;
}

.logo li a {
    color: rgb(38, 117, 221);
    display: flex;
    text-decoration: none;
}

.logo li a h2 {
    font-size: 1rem;
    font-weight: 500;
    align-self: center;
    vertical-align: baseline;
}

.logo img {
    width: 85px;
    height: 40px;
    margin-right: 8px;
}