<div class="card mat-card">
    <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
        <div class="mb-3">
          <label for="nombreUsuario" class="form-label">Usuario</label>
          <input type="email" class="form-control" id="nombreUsuario" name="nombreUsuario" aria-describedby="emailHelp" [(ngModel)]="nombreUsuario" required>
          <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required>
        </div>
        <!-- <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
</div>