<div class="card mat-card">
    <div class="card-titles">
        <h2>Experiencia</h2>
        <div class="btn-edit" onclick="cambiar_parrafo()"> 
            <a href="#" class="btn-right">
                <i class="fa fa-pen"></i>
            </a>
        </div>
    </div>
    <div>
        <p id="text-acercade">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, ipsam dolores inventore ea reiciendis, eligendi quae quasi dignissimos beatae iusto nobis aperiam animi natus. Necessitatibus fugiat doloribus suscipit sed sunt.</p>
    </div>
    <div>
        <input id="edit-acercade" type="text" oninput="myFunction2(this.value)" style="display: none;">
        <input type="file" id="file1" onchange="showFile(this)">
    </div>

    <div style="padding: 16px;"></div>

    <div class="card-titles">
        <h2>Educación</h2>
        <div class="btn-edit" onclick="cambiar_parrafo()"> 
            <a href="#" class="btn-right">
                <i class="fa fa-pen"></i>
            </a>
        </div>
    </div>
    <div>
        <p id="text-acercade">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam earum est adipisci soluta assumenda dicta, mollitia commodi distinctio voluptate aspernatur tempore, porro iusto! Aperiam recusandae repellendus consequuntur nesciunt dolores animi?</p>
    </div>
    <div>
        <input id="edit-acercade" type="text" oninput="myFunction2(this.value)" style="display: none;">
        <input type="file" id="file1" onchange="showFile(this)">
    </div>
</div>