<div class="card mat-card" id="hys">

  <div class="card-titles">
    <h2>Hard Skills & Soft Skills</h2>

    <div class="btn-edit"> 
      <a href="" class="btn-right" routerLink="/newskill" *ngIf="isLogged">
        <i class="fa-sharp fa-solid fa-plus"></i>
     </a>
    </div>
  </div>
  
    
    <div class="text-center circulo" *ngFor="let skill of skill">
      <circle-progress
      [imageSrc]="''"
      [title]="(skill.nombre)"
      [titleColor]="'#191c32'"
      [showImage]="false"
      [imageHeight]="90"
      [imageWidth]="90"
      [percent]="(skill.porcentaje)"
      [radius]="70"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="10"
      [space]="-10"
      [outerStrokeColor]="'#1fcd13'"
      [outerStrokeGradientStopColor] ="'#09ec2f'"
      [innerStrokeColor]="'#e7e8ea'"
      [animation]="true"
      [animationDuration]="300"
      [clockwise]="false"
      [showUnits]="false"
      [showSubtitle]="false"
      [showTitle]="true"
      [showInnerStroke]="true"
      ></circle-progress>

      <div class="botonesS">
        <td>
          <a href="" class="btn-right" (click)="delete(skill.id)" *ngIf="isLogged"><i class="fa-solid fa-trash-can"></i></a>
          <a href="" class="btn-right" routerLink="/editskill/{{skill.id}}" *ngIf="isLogged"><i class="fa fa-pen"></i></a>
        </td>
      </div>
    </div>
</div>